@charset "UTF-8";

/* 全体的 */
body {
    background-color: rgb(241, 235, 229);
}
html {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #634a35;
  }
a:hover {
  color: #d3940b;
}
  img {
    max-width: 100%;
  }
  li {
    list-style: none;
    
  }

body {
    color: rgb(65, 56, 52);
    position: relative;
    left: 0;
    overflow-x: hidden;
}

.font-stress {
  color: #f05d5d;
}

a.btn_01 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 200px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #d9af27;
	color: #d9be27;
	transition: 0.5s;
  margin-top: 90px;
  margin-bottom: 100px;
}
a.btn_01:hover {
	color: #fff;
	background: #d9af27;
}


/* index htmlに関する記述 */
.profile {
    margin: 10px 10px 10px 10px;
    border: 1px solid #afadad;
    border-radius: 5px;
    padding: 10px;
    width: 600px;
    margin: 0 auto;
}
.profile p {
  padding: 20px 0 20px 0;
}

#header {
  background-color: #f7f1e2;
   width: 100%;
   position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1% 15%;
    box-shadow: 2px 2px 2px 2px #bbb7b3;
    z-index: 10;
}

/* button {
  position: absolute;
  top: 17px;
  right: 25px;
  background-color: transparent;
  border: none;
} */

/* ヘッダー　メインビジュアル */
#header ul {
    display: flex;
    padding: 10px 0;
  }

  #header li {
    font-size: 0.9rem;
    margin-left: 30px;
  }

#mainvisual {
    background: url("img/big-bg.jpg");
    height: 100%;
    line-height: 0%;
    padding: 50px 0 0 0;
}

.about {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;    
}

.about img {
  width: 100px;
  height: auto;
}
.about h1 {
  margin-bottom: 50px;
  margin-top: 40px;
}

.about img {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* TOP部分のWORK */
.works {
    display:flex;
    flex-wrap:wrap; /*要素を折り返す*/
    justify-content: space-between;
    margin-top: 5%;
}

#work h1 {
  text-align: center;
}
#work p {
  text-align: center;
}

#work {
  max-width: 85%;
  margin: 0 auto;
}
 .work-img {
  width: 30%;
  padding: 0 10px 0 10px;
  vertical-align:top;
  margin-top: 20px;
}

#work .soon {
  width: 29%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* お問い合わせ グーグル */
#contact {
  margin: 10% 0 5% 0;
  text-align: center;
}

#contact h4 {
  margin-bottom: 4%;
}
#contact p {
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
  font-family: "Caveat", cursive;
  font-size: 2.9rem;
}

/* お問い合わせ　php */
.content {
  padding-top: 150px;
  text-align: center;
}
.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #d9af27;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #86714b;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}


/* abouthtml */
.about-detail {
  padding-top: 200px;
  margin-bottom: 5%;
  margin: 0 10% 0 10%;
}

.about-detail h2 {
  margin-bottom: 20px;
}

.detail-profile-1 {
  line-height: 2;
  margin-bottom: 20px;
}

.detail-profile-2 {
  line-height: 2;
  margin-bottom: 20px;
}

.detail-profile-3 {
  line-height: 2;
}

/* workhtml */
.work_main {
  padding-top: 150px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.modal ,.modalmini {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

#bgmini{
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, .4);
}

#photomini{
	position:absolute;
	top: 20%;
	left: 40%;
	right: 0;
  bottom: 0;
	width:80%;
	height:auto;
  margin: 0 auto;
}


.modal_photo {
 width: 100%;
 margin-right: 5%;
 }

 .modal ul {
   display:flex;
   flex-wrap:wrap; /*要素を折り返す*/
   width: 100%;
   
 }
 
 .modal_photo {
  width: 20%;
  margin-right: 5%;
  }
#bg{
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, .4);
}

#photo{
	position:absolute;
	top: 10%;
	left: 0;
	right: 0;
  bottom: 0;
	width:80%;
	height:auto;
  margin: 0 auto;
}

.work-detail {
  padding: 200px 5% 5% 5%;
}
.foam {
  font-size: 3rem;
}

.foam a {
  color: #f05d5d;
}

.foam a:hover {
  color: #e654de;
}


/* お問い合わせ送信後のページ */

.thanks_2 {
  padding-top: 150px;
}
/* フッター */
#footer {
    text-align: center;
    padding: 20px 20px;
    background-color: rgb(209, 208, 207);
}

/* ページトップボタン */
.page-top {
  position: fixed;
  bottom: 70px;
  right: 30px;
}

.page-top a {
  background-color: #634a35;
  color: #fff;
  padding: 30px;
  border-radius: 50%;
}

.page-top a:hover {
  background-color: #8a684c;
}

@media (max-width: 670px) {
  
  /* indexhtml */
  .works {
    flex-direction: column;
  }
  .work-img {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 30px;
  }
  .soon {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 30px;
    padding: 15% 30%;
  }

  /* お問い合わせ */
  .form {
    font-size: 2rem;
  }
/* ヘッダー */
  #header {
    flex-direction: column; 
    max-width: 100%;
    height: auto;
  }

  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }

.site-title {
  font-size: 1.3rem;
}
.action {
  padding: 0 5%;
}

.form {
  margin: 0 3%;
}


.profile {
width: 90%;
  
}
#mainvisual {
  padding: 80px 0 0 0;
}

.work-detail {
  padding: 100px 5% 5% 5%;
}
#slide {
  padding-top: 10%;
}

#slide li{
  width: 900px;
}
}


@media (max-width: 480px) {
#mainvisual {
  padding: 110px 0 0 0;
}

#work {
  max-width: 95%;
}

.soon {
  width: 95%;
}

.work-detail {
  padding: 200px 5% 5% 5%;
}
}
